<div class="welcome"
  <h1>Welcome, <%= current_user.name %></h1>
</div>

<div class="col text-center">
  <button type="button" class="btn btn-primary">Explore</button>
</div><br/>
<br/>
<br/>
<br/>
<div class="container">
  <div class="row">
    <div class="col">
      <section id='traveller'>
        <h2>Traveller</h2>
        <p><b>Favorites/Saved Excursions</b></p>
      <section id='saved_excursion'>
    </div>

    <div class="col">
      <section id='local'>
          <h2>Local
          <a href="/excursions/new" role="button" class="btn btn-outline-primary float-right">Add Excursions</a></h2>
      </section>
        
      <section id='my_excursion'>
        <div class="card border-secondary mb-3" style="max-width: 15rem;">
          <div class="card-header">My Excursions</div>
          <div class="card-body">
            <h4 class="card-title">Excursion Title</h4>
            <p class="card-text">Description from Backend</p>
            <a href="#" class="card-link">Delete</a>
            <a href="/excursions/edit" class="card-link">Edit</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<footer>
  <span>Photo by <a href="https://unsplash.com/@photoripey?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Ibrahim Rifath</a> on <a href="https://unsplash.com/s/photos/free?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
</footer>