<br>
<br>
<br>
<div class="excursion-title" >
  <h1> <%= @excursion.title %> Details </h1>
</div>

<div class="excursion-location">
<h1> Address: <%= @excursion.location %></h1>
</div>

<div class="excursion-description" >
<h1> Description: <%= @excursion.description %></h1>
</div>